@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
    background-color:#0A192F;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: auto;
    padding: 200px 150px 0px 150px;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 100px;
    background-color: #0A192F;
    backdrop-filter: blur(10px);
}

/* nav bar code */

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    /* width: 90%; */
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    color: #ccd6f6; 
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    counter-reset: item 0;
    z-index: 12;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    counter-reset: item 0;
    list-style: none;
}

.menu-items li {
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1; 
    font-size: 16px;   
}

.navbar a::before {
    content: "0" counter(item) "."; 
    margin-right: 5px;
    color: #B026FF;
    font-size: 16px;
    text-align: right;
}

.menu-items li:hover {
    color:#B026FF;
    text-decoration: underline;
}

#resume-button {
    color: #B026FF;
    background-color: transparent;
    border: 1px solid #B026FF;
    border-radius: 4px;
    padding: 20px 28px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    line-height: 1;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
}

#resume-button:hover, .button:hover, .project-button:hover{
    background-color: #af26ff41;
    transition-delay:300ms;
}

/* Section 1 - Intro */
#header-intro {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

#header-tag {
    width: 50%;
}


.highlight-text {
    margin: 0px 0px 30px 4px;
    color: #B026FF;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 16px;
}

h1 {
    color:#ccd6f6;
    line-height: 1.1;
    font-size: 80px;
    font-family: "Poppins";
    font-weight: 600px;
    /* font-family: "Calibre","Inter","San Francisco","SF Pro Text",sans-serif; */
    margin: 0px;
}

h2 {
    margin-top:10px;
    color:#8892b0;
    line-height: 0.9;
    font-size: 80px;
    font-family: "Poppins";
    font-weight: 600px;
}

h3{
    margin-top:10px;
    color:#8892b0;
    /* line-height: 0.7; */
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600px;
}

h4 {
    /* margin-top:10px; */
    color:#8892b0;
    line-height: 0.5;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500px;  
}

p {
    /* margin: 20px 0px 0px; */
    /* max-width: 540px; */
    color: #8892B0;
    font-size: 16px;
    font-family: "poppins";

}

.button {
    color: #B026FF;
    background-color: transparent;
    border: 1px solid #B026FF;
    border-radius: 4px;
    padding: 20px 28px;
    font-size: 14px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    line-height: 1;
    text-decoration: none;
    margin-top: 50px;
}

a { 
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    line-height: 1.5;
}

/* Section 2 - About Me section */

#about-me {
    max-width: 1000px;
}

.section { 
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.section-layout {
    display: inline-flex;
    width:100%;
    padding-bottom: 50px;
}

.project-section-layout{
    display: inline-block;
}


.section p {
    margin: 20px 0px 0px;
    max-width: 100%;
    color: #8892B0;
    font-size: 16px;
    font-family: "poppins";
}

/* Heading styles for home page */

.heading-numbers, 
.heading-project-numbers, 
.heading-skills-numbers,
.heading-contact-numbers{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font: "Poppins";
    font-size: 32px;
    white-space: nowrap;
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
}

.heading-numbers::before {
    position: relative;
    counter-increment: section 2;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #B026FF;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 32px;
    font-weight: 400;
}


.heading-numbers::after, 
.heading-project-numbers::after,
.heading-skills-numbers::after, 
.heading-contact-numbers::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}


.heading-skills-numbers::before {
    position: relative;
    counter-increment: section 3;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #B026FF;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 32px;
    font-weight: 400;
}

.heading-project-numbers::before {
    position: relative;
    counter-increment: section 4;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #B026FF;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 32px;
    font-weight: 400;
}

.heading-contact-numbers::before
{
    position: relative;
    counter-increment: section 5;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #B026FF;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 32px;
    font-weight: 400;
}


/* .heading-project-numbers::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}*/

#project-section {
   display: flex;
   flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
} 

#skill-section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.right-skills-bar {
    width: 40%;
}
.left-writing {
    width: 60%;
}

i {
    color: #B026FF;
    font-size: 50px;
    padding-right: 20px;
}

.skill-subheading-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}

.skill-subheadings {
    display: inline-block; 
    padding-bottom: 40px;
}

/* .skill-subheadings p {
    max-width: 600px;
} */

img {
   width: 80%;
   margin-top:20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

/* Skills bar test */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skills-container {
  width: 100%; /* Full width */
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #B026FF;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  padding-right: 5px;
  height: 25px;
  color: white;
  font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  
}

.html {width: 90%; background-color: #B026FF;} 
.css {width: 85%; background-color: #B026FF;} 
.js {width: 55%; background-color: #B026FF;} 
.python { width: 30%; background-color: #B026FF; }
.django { width: 20%; background-color: #B026FF; }
.react { width: 40%; background-color: #B026FF;}


/* Project section - Cards */

.card-deck{
    /* margin: auto; */
    width: 100%;
    /* display: flex;
    align-content: stretch; */
    
}

.card {
    width: 46%;
    padding: 30px;
    display: inline-block;
    margin: 0 17px 47px;
    height: 370px;
    text-align: left;
    box-shadow: 0px 0px 10px #B026FF;
    border-radius: 4px;
    background-color: transparent;
    /* display: flex;
    flex-direction: column; */
}

.card a {
    display: inline-block;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    line-height: 1.5;
    color:#B026FF;
}

.card h4 {
        /* margin-top: 10px; */
        color: #8892b0;
        line-height: 1.5;
        font-size: 16px;
        font-family: "Poppins";
        font-weight: 500px;
        font-size: 20px;
}

.card .fa-solid {
    font-size: 15px;
    margin-left: 5px;
    padding-right: 5px;
}

/* a:hover {
; 
} */

.card h4 p {
    padding-left: 16px;
    padding-right: 16px;
}

.project-button {
    color: #B026FF;
    background-color: transparent;
    border: 1px solid #B026FF;
    border-radius: 4px;
    padding: 20px 20px;
    font-size: 14px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    line-height: 1;
    text-decoration: none;
    margin: auto;

}

/* Contact us page styles */

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
    width: 650px;
    max-width: 100%;
    font-family: "poppins";
    color:#8892b0;
    font-size: 16px;
}

/* @media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
} */

.styled-input label {
    color: #8892b0;
    font-family: "Poppins";
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
}

/*.styled-input.wide { 
    width: 650px;
    max-width: 100%;
    
}*/

#contact-container{
    max-width: 1000px;
    padding-top:50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: #8892b0;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #B026FF;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}


input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.contact-form-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        padding:50px 30px 0px 30px;
    }

    a.icon::before {
        display: none;
    }
    

    .section {
        width: 100%!important;
    }

    .section-layout{
        display:block
    }

    .about-section-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-me-text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .profile-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row; 
        padding-top: 50px;
    }

    #header-tag {
        width: 100%;
    }

    /* .profile-image img{
        width: 50%;
    } */

    #skill-section {
        max-width: 1000px;
    }

    .left-writing, .right-skills-bar {
       width: 100%;
    }

    .skill-subheading-section {
        align-items: flex-start;
    }

    /* .project-section-layout{
        display: flex;
        flex-direction: column;
    } */

    .card {
        height: auto;
        width: 95%;
    }

      #resume-button {
        margin-left:0px;
        font-size: 17px;
        padding: 20px 17px;
      }
      
    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        padding:50px 30px 0px 30px;
        
    }
    /* a.icon::before {
        display: none;
    } */
    .section {
        width: 100%!important;
    }

    .header-intro {
        max-width: 1000px;
    }

    #header-tag {
        width: 83%;
    }

    .about-section-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-me-text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .profile-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row; 
        padding-top: 50px;
    }

    /* .profile-image img{
        width: 50%;
        
    } */

    .skill-subheading-section {
        margin-right:50px;
        display: block;
    }

    .card {
        height: auto;
        align-items:stretch ;
    }


  
  

}

/* nav bar responsive changes */
@media only screen and (max-width:768px){

    header {
       padding:0px;
    }

    /* nav bar */

    .container{
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

    .hamburger-lines {
        color: #B026FF;
    }

    .navbar{
        opacity: 0.98;
        align-items: center;
        position: relative;
        width: 100%;
        color: #ccd6f6;
        font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
        counter-reset: item 0;
        z-index: 12;
        margin-left: -35px;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        /* position: relative; */
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #b026ff;;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
       
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
       
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
        
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #0A192F;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: -55px;
        padding-left: 0px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #B026FF;
    }

    .menu-items {
      margin-top: -20px;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 16px;
        font-weight: 500;
    }

    .menu-items a:hover {
        background-color: #af26ff41;
        padding: 0px 200px 5px 10px;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    /* #resume-button {
    margin-left:0px;
    font-size: 17px;
    padding: 20px 17px;
  } */
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        padding:50px 30px 0px 30px;
    }

    .header-intro{
        width:50%!important;
    }

    .section {
        width: 100%!important;
    }

    .skill-subheading-section {
        margin-right:50px;
        display: block;
        align-items: flex-start;
    }

    .project-section-layout {
        align-items: stretch;
    }

    .profile-image img{
        width: 50%;
    }


    .about-section-layout{

    display: inline-flex;
    width:100%;
    padding-bottom: 50px;
    }  
    .card {
        height: auto;
        align-items:stretch ;
        width: 94%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .skill-subheading-section {
        margin-right:50px;
        display: flex;
    }

    .about-section-layout{
        display: flex;
        flex-direction: row;
    }

    .profile-image {
        padding-top:0px;
        width: 50%;
    }
    .profile-image img {
        width: 80%;
        /* height: auto; */
    }

    .card {
        width: 46%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
        width: 30%;
        margin: auto;
    }
}